
body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  white-space: pre-wrap;
  font-size: 16px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  overflow: visible;
}
.title{
  color:#F0EAD6;
  margin-top:300px;
  white-space: pre-wrap;
  font-size: 32px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}
.midWidth{
  margin: auto;
  text-align: center;
  max-width: 50%;
}
.background{
  background-color: black;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
}
.place{
  position: relative;
  background-color: red;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
}
.sky{
  position: absolute;
  background-color: skyblue;
  right:0px;
  top:0px;
  left: 0px;
  bottom: 40vh;
}

.grass{
  position: absolute;
  background-color: greenyellow;
  right:0px;
  top:60vh;
  left: 0px;
  bottom: 0vh;
}
.black{
  position: absolute;
  background-color: black;
  right:0px;
  top:60vh;
  left: 0px;
  bottom: 0vh;
}
.itemList{
  margin-top:100px;
  white-space: pre-wrap;
  font-size: 32px; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.clock{
  background-color: lightslategray;
  margin: auto;
}
.box {
  position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

.block{
  display: block;
  position: relative;
}