
body {
  margin: 0;
  font-family: 'DejaVu Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  white-space: pre-wrap;
  font-size: 16px; 
}

.clock{
  background-color: lightslategray;
  margin: auto;
}
