
body {
  margin: 0;
  font-family: 'DejaVu Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  white-space: pre-wrap;
  font-size: 16px; 
}

.clock{
  background-color: lightslategray;
  margin: auto;
}
.box {
  position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

.block{
  display: block;
  position: relative;
}